# ansible.cfg
[defaults]
inventory = inventory/my-cluster/hosts.yml
# 调高并发进程数，400台机器建议开 40~50 个并发
forks = 40
# 禁用 Fact 收集提升速度 (Playbook 中已设置 gather_facts: false)
gathering = explicit
# 关闭 SSH 主机密钥校验 (视自身安全策略调整)
host_key_checking = False

[ssh_connection]
# 开启 pipelining 减少 SSH 连接开销
pipelining = True
# 开启自动复用，设置 60 秒无操作自动断开 socket，避免残留死链接
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
# 增加连接失败重试次数，抵御个别节点闪断
retries = 3
